header {
  padding-block: 2rem;
}

#profile {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#profile > div {
  max-width: 24rem;
}

#profile h1 {
  color: var(--text-color-primary);
  margin-bottom: 0.5rem;
}

header .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info {
  width: 17.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
