.container-header {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
