nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  padding-block: 1.25rem;
  margin-inline: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav ul li:last-child img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  border-radius: 50%;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}